h1{
    color:deeppink;
}
.a,.a1{
    height: 30%; width: 60%;
    padding: 4%;
    margin-left: 18%;
    margin-top: 2%;
    border-radius:0%;
}
div{
    margin-left: 5%; 
}
.b{
    float: left; margin-top: 5%;
}
.b{
    background-color: whitesmoke;
    width: 25%;
}
.c{
    float: left;
}
.c{
    background-color: whitesmoke;
    width: 25%;
    margin-top: 5%;
}
.b:hover{
    background-color: rgb(248, 215, 233);
}
.c:hover{
    background-color: rgb(248, 215, 233);
}
